$border_color: solid black 1px;

img#article {
  max-width: 100px;
  max-height: 100px;
}

.wrapper {
  margin-bottom: 50px;
}

.showMain {
  margin: 10px 10px;
}

.article {
  &__header {
    display: flex;
    &__title {
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      margin-left: 50px;
    }
  }
  
  &__detail {
    display: flex;
    &__author {
      margin-left: 24px;
    }
  }
  &__description {
    margin: 20px 0 20px 0;
  }
}

.comments {
  border-top: $border_color;
  padding-bottom: 20px;
}

.comment {
  margin-top: 15px;
  &__detail {
    display: flex;
    margin-bottom: 4px;
    &__nickname {
      margin-left: 2px;
      color: rgb(59, 151, 59);
    }
    &__date {
      margin-left: 5px;
    }
  }
  &__evaluation {
    display: flex;
    &__form {
      display: flex;
    }
  }
  &__form {
    padding-top: 20px;
    border-top: $border_color;
  }
  &__reply {
    &__content {
      display: none;
      background-color: #c0c0c0;
    }
    &__btn {
      display: flex;
    }
  }
  .text_area {
    height: 80px;
    width: 200px;
  }
  .submit_comment {
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.comments:last-child {
  margin-bottom: 15px;
}

.canceling_good_btn {
  color: red;
}

.canceling_bad_btn {
  color: blue;
}
.good-btn .bad-btn .canceling_good_btn .canceling_bad_btn {
  border: none;
}

.fas {
  font-size: 6px;
}


