img {
  max-width: 50px;
  max-height: 50px;
}

.main {
  width: 100%;
  padding: 0 150px;
}

.showMain {
  background-color: #fff;
}

.itemBox {
  &__news {
    &__title {
      width: 300px;
    }
    &__image {
    }
  }
}