@import "color_font";

img:not(.header__appLogo) {
  max-width: 80px;
  max-height: 80px;
}

a {
  display: block;
}

.content__main  a {
  color: $blue;
  font-weight: 600;
}

.categoryArray {
  color: white;
  text-decoration: none;
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  width: 100%;
}

.content {
  &__top {
    width: 100%;
    display: flex;
    margin: auto;
    &__category {
      color: white;
      background-color: black;
      font-size: 20px;
      height: 42px;
      width: calc(100% / 6);
      text-align: center;
      line-height: 42px;
      border: $border-color;
      &:hover {
        background-color: rgb(94, 94, 94);
      }
    }
  }
  &__main{
    width: 1000px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    border-right: $border-color;
    border-left: $border-color;
    border-bottom: $border-color;
    &:not(:first-child) {
      border: $border-color;
    }

    &__left{
      width: 600px;
      border-right: $border-color;
    }
    &__right {
      width: 400px;
      &__header {
        text-align: center;
        line-height: 38px;
        font-size: 20px;
        border-bottom: $border-color;
      }
    }
  }
}

.articleComments {
  padding: 10px 20px 20px 20px;
}
.articleComment {
  padding: 8px 0;
  &:not(:first-child) {
    border-top: $border-color;
  }
  &__text {
    font-size: 12px;
  }
  &__articleTitle {
    font-size: 5px;
    text-align: right;
  }
}

.article {
  box-sizing: border-box;
  padding: 10px 0 10px 0;
  display: flex;
  &:not(:first-child){
    border-top: $border-color;
  }
  &__left {
    padding: auto;
    height: 80px;
    width: 80px;
  }
  &__right {
    width: 405px;
    margin-left: 15px;
    &__bottom {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      &__commentCounts {
        display: flex;
        &__number {
          margin-left: 4px;
        }
      }
    }
  }
}