@import "color_font";

img#article {
  max-width: 100px;
  max-height: 100px;
}

.indexLink {
  color: black;
}

.wrapper {
  width: 100%;
  margin-bottom: 50px;
}

.showMain {
  margin: 10px 10px;
}

.content {
  margin: auto;
  width: 1000px;
}

.article {
  &__header {
    display: flex;
    &__title {
      font-size: 20px;
      text-align: left;
      vertical-align: middle;
      margin-left: 50px;
      & a {
        color: $blue;
        font-weight: 600;
      }
    }
  }
  
  &__detail {
    display: flex;
    &__author {
      margin-left: 24px;
    }
  }
  &__description {
    margin: 20px 0 20px 0;
  }
}

.comments {
  border-top: $border-color;
  padding-bottom: 20px;
}

.comment {
  margin-top: 15px;
  &__detail {
    display: flex;
    margin-bottom: 4px;
    &__nickname {
      margin-left: 5px;
      color: rgb(59, 151, 59);
      text-decoration: none;
    }
    &__date {
      margin-left: 5px;
    }
  }
  &__text a {
    color: $blue;
    
  }
  &__evaluation {
    display: flex;
    &__form {
      display: flex;
    }
  }
  &__form {
    padding-top: 20px;
    border-top: $border-color;
  }
  &__reply {
    &__text {
      margin: 0 2px 0 3px;
    }
    &__content {
      display: none;
      background-color: #c0c0c0;
    }
    &__btn {
      margin-top: 3px;
      width: 40px;
      border-radius: 8px;
      display: flex;
      font-size: 11px;
      border: $border-color;
      background-color: #f0f080;
    }
  }
  .text_area {
    height: 80px;
    width: 200px;
  }
  .submit_comment {
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.comments:last-child {
  margin-bottom: 15px;
}

.good_btn, .bad_btn {
  background-color: rgb(209, 209, 209); 
}

.canceling_good_btn {
  color: red;
  background-color: pink;
}

.canceling_bad_btn {
  color: blue;
  background-color: rgb(203, 177, 255);
}

.good_btn, .canceling_good_btn {
  margin-right: 6px;
}

.good_btn, .bad_btn, .canceling_good_btn, .canceling_bad_btn {
  outline: none;
  border: 1px solid #dedede;
}

.fas {
  font-size: 6px;
}

.alertReplies {
  display: none;
  position: fixed;
  top: 10px;
  width:150px;
  height: 60px;
  left:calc(50% - 150px/2);
  background-color: aqua;
  border-radius: 30px;
  line-height: 60px;
  margin-left: auto;
  margin-right: auto;
  &__content {
    display: flex;
    justify-content: center;
    &__count {
      font-weight: bold;
    }
  }
}

.showAction {
  border-top: $border-color;
}
